<div class="list-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-accordion fxFlex.gt-xs="400px">
    <mat-expansion-panel [hideToggle]="entities.length === 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button (click)="addEntitiesDialog()">
              <mat-icon>add_circle</mat-icon>
            </button>
            <ng-container *ngIf="entities.length === 0">
              Connect entity
            </ng-container>
            <ng-container *ngIf="entities.length > 0">
              Entities connected ({{entities.length}})
            </ng-container>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list>
        <div fxLayout="column" fxLayoutGap="20px">
          <mat-list-item *ngFor="let entity of entities">
            <div fxLayout="row" fxFlexFill>
              <div fxFlex="grow" fxFlexOffset="25px">
                <app-entity [entity]="entity"></app-entity>
              </div>
              <button fxFlex="none" mat-icon-button (click)="removeEntity(entity)">
                <mat-icon matListIcon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
