.list-item-container .mat-list-option {
  padding: 15px;
}

.search-field .mat-form-field .mat-form-field-wrapper {
  padding: 0;
}

.search-field .search-field__prefix {
  padding-left: 31px;
  padding-bottom: 22px;
  padding-top: 22px;
  padding-right: 12px;
}

.search-field #search-box {
  margin-bottom: 5px;
}

.search-field .search-field__suffix {
  padding: 10px;
}
