<h1 mat-dialog-title>Add entities</h1>
<mat-dialog-content>
  <mat-card>
    <mat-form-field>
      <mat-icon maxPrefix>search</mat-icon>
      <input
        #searchBox
        id="search-box"
        (keyup)="search(searchBox.value)"
        matInput
        placeholder="Search entity"
      >
      <mat-icon matSuffix>filter_list</mat-icon>
    </mat-form-field>
    
    <ng-container *ngFor="let entity of entities$ | async; let i = index">
      <mat-divider *ngIf="i > 0"></mat-divider>
      <mat-selection-list (selectionChange)="changeSelection($event)">
        <mat-list-option
          [value]="entity"
          [selected]="isSelected(entity.id)"
          checkboxPosition="before"
        >
          <app-entity [entity]="entity"></app-entity>
        </mat-list-option>
      </mat-selection-list>
    </ng-container>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="entities">CONNECT</button>
</mat-dialog-actions>
